@model MultiplexKino.Models.Informacija.InformacijaSnimiVM

@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerInformacija">
    <div class="titleInformacija">Dodavanje informacije</div>
    <div class="contetntInformacija">
        <form asp-action="Dodaj" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-detailsInformacija">
                <div class="input-boxInformacija">
                    <label asp-for="Naziv" class="detailsInformacija">Naziv informacije</label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>

                <div class="input-boxInformacija">
                    <label asp-for="Opis" class="detailsInformacija">Opis</label>
                    <textarea asp-for="Opis" class="form-control" rows="122"></textarea>
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
            </div>

            <div style="display:flex; flex-wrap:wrap; padding:10px; margin-top:80px">
                <div class="form-group">
                    <input type="submit" value="Snimi" class="btn btn-primary" />
                </div>

                <div class="form-group" style="margin-left:20px;">
                    <input asp-action="Index" asp-controller="Informacija" type="submit" value="Nazad na listu" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
