
@{
    ViewData["Title"] = "Index";
}

<div class="kontaktContainer">
    <div class="Kontakt">
        <h3 style="text-decoration:underline black; font-weight:bold">Multiplex Kino</h3>
        <p>
            Web stranica za podršku rada Kino Centra! <br />
            Online prodaja i rezervacija karata! <br />
            Samo jednim klikom rezervišete svoju kartu i odabir željenog mjesta... <br />
            Također uz rezervaciju karte još dodatno možete naručiti željenu hranu i piće po vašem izboru... <br />
        </p>

        <h3 style="text-decoration:underline black; font-weight:bold">Opće informacije</h3>
        <p>
            e-mail kontakt za opšte informacije: <strong>multiplex_kino@gmail.com</strong>
        </p>

        <h3 style="text-decoration:underline black; font-weight:bold">Info telefon</h3>
        <p>
            <b>030 000 000</b> <br /> <br />
            Radno vrijeme telefonske linije za opšte informacije: <br />
            <b>Ponedjeljak - Petak</b> | 10:00h - 16:00h
        </p>

        <p><strong>Radno vrijeme:</strong><br />
           Svaki dan od <b>08:00h do 23:00h</b>
        </p>

    </div>

    <div class="footerKontakt">
        <p style="font-size:1.2em; padding:20px 0 0 30px">&copy; 2022 - MultiplexKino - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>

        <div class="logoIcon">
            <img class="gmailLogo" src="~/img/gmail_icon.png" />

            <img class="messageLogo" src="~/img/Apple_Messages-512.webp" />

            <img class="facebookLogo" src="~/img/fb_icon.png" />

            <img class="instagramLogo" src="~/img/Instagram_logo_2016.svg.webp" />
        </div>
    </div>
</div>

