@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin:200px auto 0 auto">
    <h1 style="color:white; text-align:center">Odjava...</h1>
    <p style="text-align:center; color:white">Aplikacija za podršku Kino Centra!</p>
</div>
