@model MultiplexKino.Models.Film.FilmSnimiVM

@{
    ViewData["Title"] = "Dodaj Film";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var zanrovi = ViewData["Zanrovi"] as IEnumerable<SelectListItem>;
}

<div class="containerFilm">
    <div class="titleFilm">Dodaj Film</div>
    <div class="contentFilm">
        <form class="" asp-action="Dodaj" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-detailsFilm">
                <div class="input-boxFilm">
                    <label asp-for="Naslov" class="detailsFilm"></label>
                    <input asp-for="Naslov" class="form-control" />
                    <span asp-validation-for="Naslov" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="ZanrId" class="detailsFilm">Zanr</label>
                    <select asp-for="ZanrId" asp-items="zanrovi" class="form-control"></select>
                    <span asp-validation-for="ZanrId" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="Trajanje" class="detailsFilm">Trajanje (min)</label>
                    <input asp-for="Trajanje" class="form-control" />
                    <span asp-validation-for="Trajanje" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="GodinaSnimanja" class="detailsFilm">Godina snimanja</label>
                    <input asp-for="GodinaSnimanja" class="form-control" />
                    <span asp-validation-for="GodinaSnimanja" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="Reditelj" class="detailsFilm">Reditelj</label>
                    <input asp-for="Reditelj" class="form-control" />
                    <span asp-validation-for="Reditelj" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="VideoLink" class="detailsFilm">Video link</label>
                    <input asp-for="VideoLink" class="form-control" />
                    <span asp-validation-for="VideoLink" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label class="detailsFilm">Plakat</label><br />
                    <input type="file" name="file" id="file" />
                </div>
                <div class="input-boxFilm">
                    <label asp-for="Glumci" class="detailsFilm">Glumci</label>
                    <textarea asp-for="Glumci" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Glumci" class="text-danger"></span>
                </div>
                <div class="input-boxFilm">
                    <label asp-for="Sadrzaj" class="detailsFilm">Sadržaj</label>
                    <textarea asp-for="Sadrzaj" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Sadrzaj" class="text-danger"></span>
                </div>
            </div>

            <div style="display:flex; flex-wrap:wrap; margin-top:50px">
                <div class="form-group">
                    <input type="submit" value="Snimi" class="btn btn-primary" />
                </div>

                <div class="form-group" style="margin-left:20px;">
                    <button asp-action="Index" asp-controller="Film" type="submit" value="Nazad na listu" class="btn btn-danger">Nazad na listu</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


