@model MultiplexKino.Models.Film.FilmSnimiVM

@{
    ViewData["Title"] = "Uredi";

    var zanrovi = ViewData["Zanrovi"] as IEnumerable<SelectListItem>;
}

<div class="containerUrediFilm">
    <div class="titleUrediFilm">Uredi film: '@Model.Naslov'</div>
    <div class="contentUrediFilm">
        <form class="" asp-action="Uredi" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="user-detailsUrediFilm">
                <div class="input-boxUrediFilm">
                    <label asp-for="Naslov" class="detailsUrediFilm"></label>
                    <input asp-for="Naslov" class="form-control" />
                    <span asp-validation-for="Naslov" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="ZanrId" class="detailsUrediFilm">Zanr</label>
                    <select asp-for="ZanrId" asp-items="zanrovi" class="form-control"></select>
                    <span asp-validation-for="ZanrId" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="Trajanje" class="detailsUrediFilm">Trajanje (min)</label>
                    <input asp-for="Trajanje" class="form-control" />
                    <span asp-validation-for="Trajanje" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="GodinaSnimanja" class="detailsUrediFilm">Godina snimanja</label>
                    <input asp-for="GodinaSnimanja" class="form-control" />
                    <span asp-validation-for="GodinaSnimanja" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="Reditelj" class="detailsUrediFilm"></label>
                    <input asp-for="Reditelj" class="form-control" />
                    <span asp-validation-for="Reditelj" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="VideoLink" class="detailsUrediFilm">Video link</label>
                    <input asp-for="VideoLink" class="form-control" />
                    <span asp-validation-for="VideoLink" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="Sadrzaj" class="detailsUrediFilm">Sadržaj</label>
                    <textarea asp-for="Sadrzaj" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Sadrzaj" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label asp-for="Glumci" class="detailsUrediFilm">Glumci</label>
                    <textarea asp-for="Glumci" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Glumci" class="text-danger"></span>
                </div>
                <div class="input-boxUrediFilm">
                    <label class="detailsUrediFilm">Plakat</label><br />
                    @if (!string.IsNullOrEmpty(Model.Plakat))
                    {
                        <img src="@Model.Plakat" style="max-width:100px; max-height:100px" />
                        @Html.ActionLink("Briši", "BrisiPlakat", new { id = Model.Id }, new {@class = "btn btn-link"})
                        <br />
                    }
                    <input type="file" name="file" id="file" />
                </div>
            </div>

            <div style="display:flex; flex-wrap:wrap; margin-top:50px">
                <div class="form-group">
                    <input type="submit" value="Snimi" class="btn btn-primary" />
                </div>

                <div class="form-group" style="margin-left:20px;">
                    <input asp-action="Index" asp-controller="Film" type="submit" value="Nazad na listu" class="btn btn-danger" />
                </div>
            </div>
            @*
                <button class="buttonFilmDodaj">
                <a asp-action="Index">Nazad na listu</a>
                </button>*@
        </form>
    </div>

</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

