@model MultiplexKino.Models.Projekcija.ProjekcijaSnimiVM

@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sala = ViewData["Sale"] as IEnumerable<SelectListItem>;
    var filmovi = ViewData["Filmovi"] as IEnumerable<SelectListItem>;

    decimal? cijena = null;

    if (Model != null)
    {
        cijena = Model.Cijena;
    }
}

<div class="containerProjekcija">
    <div class="titleProjekcija">Dodaj Projekciju</div>
    <div class="contentProjekcija">
        <form class="" asp-action="Dodaj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-detailsProjekcija">
                <div class="input-boxProjekcija">
                    <label asp-for="FilmId" class="detailsProjekcija">Naziv filma</label>
                    <select style="width:30%" asp-for="FilmId" asp-items="filmovi" class="form-control"></select>
                    <span asp-validation-for="FilmId" class="text-danger"></span>
                </div>
                <div class="input-boxProjekcija">
                    <label asp-for="VrijediOd" class="detailsProjekcija">Vrijedi Od</label>
                    <input style="width:50%" id="VrijediOd" name="VrijediOd" type="date" placeholder="Izabri datum" class="form-control datepicker" autocomplete="off" />
                    <span asp-validation-for="VrijediOd" class="text-danger"></span>
                </div>
                <div class="input-boxProjekcija">
                    <label asp-for="SalaId" class="detailsProjekcija">Sala</label>
                    <select style="width:30%" asp-for="SalaId" asp-items="sala" class="form-control"></select>
                    <span asp-validation-for="SalaId" class="text-danger"></span>
                </div>
                <div class="input-boxProjekcija">
                    <label asp-for="VrijediDo" class="detailsProjekcija">Vrijedi Do</label>
                    <input style="width:50%" id="VrijediDo" name="VrijediDo" type="date" placeholder="Izabri datum" class="form-control datepicker" autocomplete="off" />
                    <span asp-validation-for="VrijediDo" class="text-danger"></span>
                </div>
                <div class="input-boxProjekcija">
                    <label asp-for="Cijena" class="detailsProjekcija">Cijena karte</label>
                    <input style="width:30%" id="Cijena" name="Cijena" value="@cijena" class="form-control" />
                    <span asp-validation-for="Cijena" class="text-danger"></span>
                </div>
            </div>

            <div style="display:flex; flex-wrap:wrap; padding:10px">
                <div class="form-group">
                    <input type="submit" value="Snimi" class="btn btn-primary" />
                </div>

                <div class="form-group" style="margin-left:20px;">
                    <input asp-action="Index" asp-controller="Projekcija" type="submit" value="Nazad na listu" class="btn btn-danger" />
                </div>

            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    $(function() {
        $("#VrijediOd").datepicker({ dateFormat: 'dd.mm.yy' });
        $("#VrijediDo").datepicker({ dateFormat: 'dd.mm.yy' });
    });
</script>

